{% extends 'pet_search/base.html' %}

{% block title %}
Найденные
{% endblock %}

{% block content %}
<h2>Найденные</h2>
<div class="album py-1 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect fill="#55595c" width="100%" height="100%"></rect><text fill="#eceeef" dy=".3em" x="50%" y="50%">Thumbnail</text></svg>
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="label">
                    <h5 class="text-muted">City</h5>
                    <h5 class="text-muted">01.08.2020</h5>
                </div>
                <div class="btn-group">
                  <button type="button" class="btn btn-secondary">Подробнее</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}